@font-face {
    font-family: BlurBold;
    src: url(../fonts/BlurBold.otf);
}

@font-face {
    font-family: BlurLight;
    src: url(../fonts/BlurLight.otf);
}


* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#lupita {
    font-family: BlurBold;
    font-size: 180%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#lupita > a {
    color: #000000;
}

.container {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container.text-center {
    margin-top: 1%;
    margin-bottom: 1%;
}

#primerabarrita {
    display: flex;
    font-size: 3%;
    font-family: BlurBold;
    background-color: #000000;
    color: white;
}
