@font-face {
    font-family: BlurBold;
    src: url(../fonts/BlurBold.otf);
}

@font-face {
    font-family: BlurLight;
    src: url(../fonts/BlurLight.otf);
}

.titulo {
    font-family: BlurLight;
    margin-bottom: 3%;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#menuu {
    font-family: BlurBold;
    font-size: 180%;
    margin-left: 1%;
    background-color: white;
}

#menuu>a {
    color: #000000;
}


.container {
    margin-top: 10%;
    margin-bottom: 17%;
}


.container.text-center {
    margin-top: 1%;
    margin-bottom: 1%;
}

#primerabarrita {
    display: flex;
    font-size: 3%;
    font-family: BlurBold;
    background-color: #000000;
    color: white;
}

div.col {
    padding: 0;
}

.d-flex.justify-content-center {
    font-family: BlurBold;
    font-size: 300%;
    margin-top: 3%;
}

.container-sm {
    font-family: BlurLight;
    font-size: 200%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 3%;
}

.btn.btn-primary {
    align-self: center;
    margin-top: 2%;
    background-color: #26ff00;
    font-family: BlurLight;
    color: #000000;
    margin-left: 47%;
}

.btn-primary {
    --bs-btn-border-color: #26ff00;

}

.row {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2%;
}

.card {
    width: 40%;
    border: var(--bs-card-border-width) solid;
    flex: auto;
    align-items: center;
    margin-left: 30%;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
}

.container > card {
    flex-direction: row;
}

.btn.btn-primary {
    margin-left: 42%;
}



.footer-style {
    padding-top: 50px;
    background-color: #26ff00;
}
footer {
  color: #000000;
}
footer h3 {
  margin-bottom: 30px;
    font-weight: 800;
    font-family: Helvetica;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #26ff00;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 0%;
  background-color: #233140;
}